<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819811720828-kl4mqc7di72ct062imrps9q9jgpt3nie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819811720828-kl4mqc7di72ct062imrps9q9jgpt3nie</string>
	<key>API_KEY</key>
	<string>AIzaSyA3qe1YVRBrRcUpoBlvDLTzmk7LzVT12PY</string>
	<key>GCM_SENDER_ID</key>
	<string>819811720828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naengMehChu</string>
	<key>PROJECT_ID</key>
	<string>naengmehchu</string>
	<key>STORAGE_BUCKET</key>
	<string>naengmehchu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819811720828:ios:6c07638dcde9e1106b73f9</string>
</dict>
</plist>